<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/home/naiminux/gtwebeditor/static/style.css" rel="stylesheet">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://unpkg.com/cytoscape@3.10.1/dist/cytoscape.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>

</head>

<body>

    <ul class="nav nav-tabs navbar-light" style="background-color: #e3f2fd;" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><a>Jeu de règle</a></button>
        </li>
        <li class="nav-item" role="presentation">
            <button onclick="handleInclusion()" class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Inclusion</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">???</button>
        </li>
    </ul>
    <!--Corps du site -->
    <div id="content_flex">
        <!--Corps des onglets -->
        <div class="tab-content" id="myTabContent">
            <!--Onglet jeu de règle -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <ul id="ruleset" class=" nav flex-column sidenav">
                </ul>
            </div>
            <!--Onglet inclusions-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <ul id="inclusionset" class=" nav flex-column sidenav">
                </ul>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>
        <!-- Les conteneurs des cytoscapes gauche/droite-->
        <div class="cyto_conteneur">
            <div class="w100">
                <div id="lhs" class="cy" style="display:none"></div>
                <div id="rhs" class="cy" style="display:none"></div>
            </div>
            <button id="save" onclick="sauvegarde()" style="display:none;">Sauvegarder</button>
            <button id="draw" onclick="draw()" style="display:none;">Dessiner</button>

        </div>
    </div>

    <script>
        //Crétation du bouton "create rule" à clear 

        var create_rule;
        let body = document.getElementById("myTabContent");
        var vide = true;
        var ruleset = document.getElementById("ruleset");
        if (vide) {
            ruleset.innerHTML = '<li class="nav-item"><button type="button" onclick="handleCreateRule()" id="create" class="btn btn-light">Create Rule</button></li>';
            create_rule = document.getElementById("create");
            vide = false;
        }
    </script>
    <script src="/home/naiminux/gtwebeditor/static/store.js"></script>
    <script src="/home/naiminux/gtwebeditor/static/libext/clipboard.js"></script>
    <script src="/home/naiminux/gtwebeditor/static/libext/edgehandles/cytoscape-edgehandles.js"></script>
    <script src="/home/naiminux/gtwebeditor/static/myCytoscape.js"></script>
    <script src="/home/naiminux/gtwebeditor/static/cytograph.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4 " crossorigin="anonymous "></script>
</body>

</html>