#rules {
  border: 3px solid black ; 
  height:400px;
  width:200px;
  display:flex;
  flex-wrap: wrap;
}

.cy{
  display:flex;
  background-color: rgb(250, 242, 228);

  height:400px;
  width:400px;
  
  
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-right: 350px;
  margin-left: 350px;
}
